body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    display: block;
    text-align: left;
    width: 100%; 
    box-sizing: border-box; 
    padding: 8px; 
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left; 
}

.bmi-title{
    text-align: center;
    font-family: sans-serif;
}

.description{
    text-align: center;
    font-family: sans-serif;
}

.text-weight, .text-height, input, button {
    display: block;
    text-align: left;
}

.btn-submit {
    background-color: blue;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    color: white;
    cursor:progress;
    font-family: sans-serif;
    border: 1px solid blue;
    border-radius: 4px;
    background-color: blue;
    color: white;
    margin-right: 41%;
    text-shadow: #ccc;
}
